@import url("reset.css");

body {background-color: #ffffff;
        font-family: 'Source Sans Pro' , sans-serif;
        padding-left: 30px;
        padding-right: 30px;
        }

a:link {
  color: #9b3453;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:visited {
  color: #3c79c9;
}

h1 {
  font-family: 'Droid Serif' , serif;
  font-size: 40px;
  color: black;
  text-align: center;
  padding: 25px 0px 25px 0px;

}

h2 {
  font-size: 20px;
}
img {
  margin: 0 auto;
  display: block;
  padding-bottom: 25px;
}

.line1  {
   display: inline-block;
   text-align: center;
   padding-bottom: 10px;
   background-color: grey;
   margin: 10px auto
}

.line2  {
   display: inline-block;
   text-align: center;
   padding-bottom: 10px;
   background-color: grey;
   margin: 10px auto
   clear:both;
}
